.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 15%;
    padding-top: 7.5%;
    text-align: center;
}

.navbar {
    font-family: 'Roboto Condensed Light'
    font-size: 115%;
}

.list-group {
    margin-left: 5%;
    margin-right: 5%;
    --bs-list-group-border-color: none;
    --bs-list-group-action-hover-bg: grey;
}

.navItems {
    color: white;
    background-color: #212529;
}

.navbar li {
    padding-bottom: 40%;
}

.navbar ul {
    padding: 0;
    margin: 0;

}

.navbar a:hover {
    border-radius: 10px;
}

.input-group-text {
    background-color: #212529;
}

.navbar .navbar-brand {
    padding-left: 1%;
}