.sidebar {
    box-shadow: 0 2px 5px rgba(61, 61, 61, 0.75);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 12.5%;
    padding-top: 6%;
    text-align: center;
}

.topbar {
    padding: 0.5% 0 1.5% 0;
    box-shadow: 0 2px 5px rgba(61, 61, 61, 0.75);
}

.list-group {
    margin-left: 5%;
    margin-right: 5%;
    --bs-list-group-border-color: none;
    --bs-list-group-action-hover-bg: grey;
}

.navItems {
    font-size: 85%;
    color: white;
    background-color: #212529;
}

.navbar ul {
    padding: 0;
    margin: 0;
}

.sidebar a:hover {
    border-radius: 10px;
}

.input-group-text {
    background-color: #212529;
}

.navbar .navbar-brand {
    padding-left: 1%;
}

.sidebar .navHeadings {
    font-family: 'Roboto Condensed Light';
    margin: 12% 0 10% 0;
    color: rgb(134, 134, 134);
}